.hover-join:hover {
    color: black;
}

.text-lg {
    font-size: 4em;
}

.hero__outer {
    /* left: 4%; */
    margin-bottom: 16em;
}

.text-rt {
    margin: 2em 0;
    text-align: center;
}

.member {
    margin-right: 20px;
    height: 250px;
    width: 250px;
    text-align: center;
}

.member-avatar {
    margin: 0;
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.member-description {
    width: 100%;
    overflow: hidden;
}

.member-description p{
    color: wheat;
}

.member-description h6 {
    color: bisque;
}

